body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

h1 {
  font-family: "Impress BT";
}

button {
  /* display: block; */
  height: 30px;
  /* margin-bottom: 10px; */
  text-align: center;
  /* line-height: 30px; */
  width: 50px;
  margin: 20px;
  
  color: #000000;
  text-align: center;
  border: solid #fee909 2px;
  border-radius: 10px;
  text-decoration: none;

  /* Gradient */
  background: #efd300;
  background: -moz-linear-gradient(top,  #fff584 1%, #efd300 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff584), color-stop(100%,#efd300));
  background: -webkit-linear-gradient(top,  #fff584 1%,#efd300 100%);
  background: -o-linear-gradient(top,  #fff584 1%,#efd300 100%);
  background: -ms-linear-gradient(top,  #fff584 1%,#efd300 100%);
  background: linear-gradient(to bottom,  #fff584 1%,#efd300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff584', endColorstr='#efd300',GradientType=0 );

  /* text-shadow: 1px 1px 0 rgba(0,0,0,0.25); */
  box-shadow: 3px 3px 6px rgba(142, 127, 127, 0.3);

  font-family: "Impress BT";
  
}

button:hover {
  border: solid #5790f9 2px;
  background: #97d3f9;
  background: -moz-linear-gradient(top,  #97d3f9 1%, #0da2ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#97d3f9), color-stop(100%,#0da2ff));
  background: -webkit-linear-gradient(top,  #97d3f9 1%,#0da2ff 100%);
  background: -o-linear-gradient(top,  #97d3f9 1%,#0da2ff 100%);
  background: -ms-linear-gradient(top,  #97d3f9 1%,#0da2ff 100%);
  background: linear-gradient(to bottom,  #97d3f9 1%,#0da2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff584', endColorstr='#efd300',GradientType=0 );

  text-decoration: none;
  
}

.toonInfo {
  border: 1px solid rgb(226, 182, 20);
  /* margin: 1rem; */
  padding: 1rem 1rem;
  text-align: center;
}

.toonName {
  font-size: xx-large;
  font-family: 'Impress BT';
  color: white;
  text-shadow:  black 2px 2px;
}

.taskGroup {
  /* border: 1px solid black; */
  /* margin: 1rem; */
  /* padding: 2rem 2rem; */
  text-align: center;
}

@font-face {
  font-family: 'Impress BT';
  font-style: normal;
  font-weight: normal;
  src: local('Impress BT'), url('../assets/impress-bt-58d9dc6098a03.woff') format('woff');
  }


@font-face {
  font-family: 'Minnie';
  font-style: normal;
  font-weight: normal;
  src: local('Minnie'), url('../assets/Minnie.TTF') format('truetype');
  }

.taskbox {
  display: inline-block;;
  vertical-align: middle;
  background-image: url("../assets/scroll_reg.png");
  width:296px;
  height:240px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Impress BT';
  position: relative;
  text-align:center;
  text-align: center;

  
  &:hover {
    background-image: url("../assets/scroll_long.png");
  /* transform: scale(1.5); */
}
}


.type {
  font-family: "Minnie";
  position: absolute;
  top: 8%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin: auto;
}

.icon {
  position: absolute;
  top: 14%;
  /* transform: translateY(-50%); */
  transform: translateX(-50%);
  /* text-align: center; */
  /* width: 100%; */
  /* margin: 0 auto; */
  left: 50%;

  width:45px;
  height: 45px;
  /* background-color: rgb(255, 209, 209); */
  border: 3px;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 1px 1px 20px 0px inset;
  border-radius: 5px;
}

.goal {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin: auto;
}

.where {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
   width: 100%;
  margin: auto;
}

.progress {
  position: absolute;
  top: 73%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin: auto;
}

.progressText {
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: auto;
  width:50%
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 2px;
  box-shadow: rgb(104, 101, 89) 1.6px 1.6px 2px 0px inset, rgb(255, 255, 255) -1.6px -1.6px 2px 0px inset;
}


progress[value]::-webkit-progress-value {
  background-color: green;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
  box-shadow: rgb(104, 101, 89) 1.6px 1.6px 2px 0px inset, rgb(255, 255, 255) 0px -1.6px 2px 0px inset;

}

.reward {
  position: absolute;
  bottom: 4%;
  transform: translateY(-50%);
  left: 7%;
  color:orangered;
  font-size: medium;
}
